$white: #FFF;
$black: #000;
$darkGray: #8C8C8C;
$veryDarkGray: #696969;

$big-laptop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$big-mobile: 425px;
$mobile: 375px;

$container-pd: 165px;
$container-pd-laptop: 82.5px;
$container-pd-mobile: 24px;

$animation-duration: .2s